<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet">
    <title>Free URL Shortener</title>

    <style>
        div.header {
            background: #00cba9;
            height: 23rem;
        }

        #heading {
            font-family: 'MuseoModerno', cursive;
            font-size: 5rem;
            text-align: center;
            padding-top: 5rem;
            letter-spacing: 1px;
            color: azure;
        }

        #sub-heading {
            text-align: center;
            color: azure;
        }

        input#fullURL.form-control {
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 1rem;
        }

        div.in-out-form {
            margin-top: 2rem;
        }

        div.output {
            text-align: center;
        }

        a#shortenedURL {
            font-size: 2.5rem;
        }

        div.card-header.output {
            font-family: 'Comfortaa', cursive;
            font-size: 1.5rem;
        }


/*        button.copy-btn {
            margin-right: 10rem;
        }

        button.shorten-btn {
            padding: 0.5rem 3rem;
            margin: auto 40%;
            margin-top: 1rem;
            color: whitesmoke;
            font-family: 'MuseoModerno', cursive;
            font-size: larger;
        } */
    </style>
</head>
<body>
    <div class="container-fluid header">
        <h1 id="heading">Free URL Shortener</h1>
        <h4 id="sub-heading">This a free tool to shorten your URLs, making them look cleaner & sightly.</h4>
    </div>


    <div class="container-fluid in-out-form">
        <form action="/shortenURL" method="POST" class="form mx-5">
            <div class="form-group">
                <label for="fullURL" class="sr-only">URL</label>
                <input required placeholder="Type URL here" type="url" 
                    name="fullURL" id="fullURL" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">shorten</button>
            <br>
            <br>
        </form>
        <div class="container">
            <div class="card">
                <div class="card-header output">Copy and share your shortened URL below</div>
                <div class="card-body output"><a href="<%= shortURL.full %>" id="shortenedURL"><%= shortURL.short %></a></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small blue mt-5">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright. All rights reserved.</div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>
</html>